@import "tailwindcss";

.card{
  border: 1px solid black;
  padding: 20px;
  margin: 20px;
  box-shadow: 2px 2px 12px rgba(0,0,0,0.1);
  background-color: aquamarine;
}

.grid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.buttton{
color: black;
background-color: blueviolet;
size: 100px;
}